

.infoTop {

    width:  100vw;
    height: 60vh;
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;

    font-family: 'Norican', cursive;
    font-size: 50px;
    line-height: 75px;

}

.infoTop h3 {
    font-weight: 400;
    font-size: 23px;
    font-family: 'Neuton', sans-serif;


}



.content{
    width: 100vw;
    
}


.infoWho {
    flex: 1;
}


.infoDescription {
    flex: 2;
}

.infoDescription p {
    margin-top: 20px;
    margin-right: 10vw;
    
}

.content div{
    display:flex;
    flex-direction: row;


}
.content div div{
    margin-left: 40px;
    display:flex;
    flex-direction: column;

 }





.content ul {
    margin-top: 40px;
    
    width: 100vw;
    display:flex;
    flex-direction: row;
    justify-content:space-between;
    align-items:center;
}


.content ul li{
    margin-left: 40px;
    margin-right: 40px;
    max-width: 30%;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    /* background-color: yellowgreen; */
}

.topNumber_1 {
    width: 100%;
    max-width: 0%;
    height: 100px;
    display: flex;
    position: relative;
    left: 0;
    top:0;

    /* justify-content:center; */
    
}

.intoNumber_1 {
    
    display:flex;
    flex-direction: row;
    
}
.intoNumber_1 p {
    position: absolute;
    top: 5vh;
    left: 6vw;
    font-size: 30px;
    z-index: 99;
    
}
 .number_1 {
    
    left: 0;
    font-size: 53px;
    color: rgba(238, 151, 250, 0.486);;
}


.content1 {
    text-align: justify;
    width: 70%;
    margin-left: 20px;
}


 .image1 {
     margin-top: 10px;
     
     margin-left: 20%;
     z-index: -1;

     border-radius: 50%;
    
}
